In [15]:
# Dependencies
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
import warnings

from sqlalchemy import true

# from google.colab import files
# uploaded = files.upload()

# Import our input dataset
# main_df = pd.read_csv('main_data.csv')
main_df = pd.read_csv('./resources/main_data.csv')
main_df = main_df.drop('Unnamed: 0', axis=1) # Features
main_df.head()

   user_id  movie_id  rating
0        1      1193       5
1     2098      1193       4
2        1       661       3
3     2098       661       3
4        1       914       3

In [16]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2411620 entries, 0 to 2411619
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   movie_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 55.2 MB

In [17]:
# Split the dataframe into data and target
y = main_df["rating"].values # Target
X = main_df.drop("rating", axis=1) # Features
main_df.head()

   user_id  movie_id  rating
0        1      1193       5
1     2098      1193       4
2        1       661       3
3     2098       661       3
4        1       914       3

In [18]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [19]:
# Train the scaler with the X_train data.
X_scaler = StandardScaler().fit(X_train)

In [20]:
# Transform X_train and X_test.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
# Loop through different k values to find which has the highest accuracy.
# Note: We use only odd numbers because we don't want any ties.
# train_scores = []
# test_scores = []
# for k in range(1, 20, 2):
#     knn = KNeighborsClassifier(n_neighbors=k)
#     knn.fit(X_train_scaled, y_train)
#     train_score = knn.score(X_train_scaled, y_train)
#     test_score = knn.score(X_test_scaled, y_test)
#     train_scores.append(train_score)
#     test_scores.append(test_score)
#     print(f"k: {k}, Train/Test Score: {train_score:.3f}/{test_score:.3f}")
    
    
# plt.plot(range(1, 20, 2), train_scores, marker='o')
# plt.plot(range(1, 20, 2), test_scores, marker="x")
# plt.xlabel("k neighbors")
# plt.ylabel("Testing accuracy Score")
# plt.show()

In [22]:
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train_scaled, y_train)
y_pred = knn.predict(X_test_scaled)
print('k=5 Test Acc: %.3f' % knn.score(X_test_scaled, y_test))

k=5 Test Acc: 0.833

In [23]:
# Confusion matrix
from sklearn.metrics import confusion_matrix
y_true = y_test
confusion_matrix(y_true, y_pred)

array([[ 27130,   1285,   2174,   2289,   1090],
       [  1263,  50561,   4734,   5019,   2381],
       [  1995,   4463, 130273,  13386,   7140],
       [  2109,   4540,  12724, 177468,  12328],
       [  1029,   2383,   6796,  11834, 116511]])

In [24]:
# Classification report
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           1       0.81      0.80      0.80     33968
           2       0.80      0.79      0.80     63958
           3       0.83      0.83      0.83    157257
           4       0.85      0.85      0.85    209169
           5       0.84      0.84      0.84    138553

    accuracy                           0.83    602905
   macro avg       0.82      0.82      0.82    602905
weighted avg       0.83      0.83      0.83    602905